<?xml version="1.0"?>
<config>
	<global>
		<models>
            <directory>
                <rewrite>
                    <currency_import_webservicex>Bitpay_Rates_Model_Currency_Import_Webservicex</currency_import_webservicex>
                </rewrite>
            </directory>
		</models>
	 
        <currency>
            <import>
                <services>
                    <bitpay>
                        <name>Bitpay</name>
                        <model>Bitpay_Rates_Model_Currency_Import_Bitpay</model>
                    </bitpay>
                </services>
            </import>
        </currency>
	</global> 
	
	<default>
        <system>
            <currency>
                <installed>AZN,AZM,AFN,ALL,DZD,AOA,ARS,AMD,AWG,AUD,BSD,BHD,BDT,BBD,BYR,BZD,BMD,BTC,BTN,BOB,BAM,BWP,BRL,GBP,BND,BGN,BUK,BIF,KHR,CAD,CVE,CZK,KYD,CLP,CNY,COP,KMF,CDF,CRC,HRK,CUP,DKK,DJF,DOP,XCD,EGP,SVC,GQE,ERN,EEK,ETB,EUR,FKP,FJD,GMD,GEK,GEL,GHS,GIP,GTQ,GNF,GYD,HTG,HNL,HKD,HUF,ISK,INR,IDR,IRR,IQD,ILS,JMD,JPY,JOD,KZT,KES,KWD,KGS,LAK,LVL,LBP,LSL,LRD,LYD,LTL,MOP,MKD,MGA,MWK,MYR,MVR,LSM,MRO,MUR,MXN,MDL,MNT,MAD,MZN,MMK,NAD,NPR,ANG,TRL,TRY,NZD,NIC,NGN,KPW,NOK,OMR,PKR,PAB,PGK,PYG,PEN,PHP,PLN,QAR,RHD,RON,ROL,RUB,RWF,SHP,STD,SAR,RSD,SCR,SLL,SGD,SKK,SBD,SOS,ZAR,KRW,LKR,SDG,SRD,SZL,SEK,CHF,SYP,TWD,TJS,TZS,THB,TOP,TTD,TND,TMM,USD,UGX,UAH,AED,UYU,UZS,VUV,VEB,VEF,VND,CHE,CHW,XOF,XPF,WST,YER,ZMK,ZWD</installed>
            </currency>
        </system>
        <currency>
            <options>
                <allow>USD,EUR,BTC</allow>
            </options>
            <bitpay>
                <timeout>100</timeout>
            </bitpay>
            <import>
                <enabled>0</enabled>
                <error_email><![CDATA[]]></error_email>
                <error_email_identity>general</error_email_identity>
                <error_email_template>currency_import_error_email_template</error_email_template>
            </import>
        </currency>
	</default>
</config>
